.coluna {
    display: inline-block;
  }
  
body {
    font-family: Arial, sans-serif;
    background-color: white;
  }
  
  .rect {
    position: absolute;
    border: 2px solid #000;
    cursor: pointer;
}

div.rect-green {
    font-family: '';
    background-color: green;
    color: white;
    text-align: center; /* centraliza o texto horizontalmente */
    font-size: 35px; /* define o tamanho da fonte em 24 pixels */
    line-height: 100px; /* define a altura da linha igual à altura da tag "div" (100px) */
}

div.rect-red {
    font-family: '';
    background-color: red;
    color: white;
    text-align: center; /* centraliza o texto horizontalmente */
    font-size: 35px; /* define o tamanho da fonte em 24 pixels */
    line-height: 100px; /* define a altura da linha igual à altura da tag "div" (100px) */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    position: relative;
  }
  
  .chave {
    position: absolute;
    top: -25px;
    font-size: 50px;
  }
  
  .circulo {
    font-size: 200px;
  }
  
  .verde {
    color: green;
  }
  
  .cinza {
    color: gray;
  }
    
    